{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>开发中--EvilFinder</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="{% static 'css/404.css' %}">

    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3551564-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
    <div id="error">
      <a href="{% url 'index' %}">
        <img src="{% static 'image/develop.jpg' %}" alt="404 page not found" id="error404-image" />
      </a>
    </div>
</body>
</html>
