{% extends 'base.html' %}
{% load i18n %}

{% block inside_row %}
<center><h2>网站使用指导及常见问题</h2></center>
<br>
<center>
<div class="table-responsive">
          
    <table class="table table-hover table-bordered">
        <tbody class="table-body">
            <tr>
                <td colspan="3" style="font-size:25px;text-align:center">网站FAQ</td>
            </tr>
            <tr class="table-head">
                <th>编号</th>
                <th>文章</th>
                <th>作者</th>
            </tr>
            <tr>
                <td>1</td>
                <td><a target="_blank" href="https://www.zybuluo.com/EvilFinder/note/380776">Finder社区使用FAQ</a></td>
                <td>EvilFinder</td>
            </tr>
           <tr>
                <td>2</td>
                <td><a target="_blank" href="https://www.zybuluo.com/EvilFinder/note/381111">Markdown使用简明教程</a></td>
                <td>EvilFinder</td>
            </tr>
           <tr>
                <td>3</td>
                <td><a target="_blank" href="https://www.zybuluo.com/EvilFinder/note/381414">常见问题及解决方案</a></td>
                <td>EvilFinder</td>
            </tr>
        </tbody>
        <tbody>
        
        </tbody>
    </table>

</div>
</center>


{% endblock %}
