亲爱的用户，欢迎使用Finder。

Finder是一个崇尚自由和开放的高质量信息交流社区，这里汇聚着一大批追求美好热爱生活的人，我们相信一个高效、平等、友好的信息交流平台将会成为每天学习、生活和娱乐的一部分。

目前版本仅针对石家庄铁道大学校园使用，相应功能仍在完善，希望大家踊跃在论坛的“社区建议”话题下提出中肯建议，以便社区可以更好更完善的为大家提供优质的服务。

请点击以下链接来重置你的账户密码：

{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

若该请求并非您本人所发，您可以安全的忽略此邮件。

如果您有任何疑问，欢迎来论坛提出您的问题，或者发邮件到rootkitspace@gmail.com进行提问。

Finder —— 发现更好的自己

                                                                                                                          --开发者EvilFinder
                                                            
                                                            